In [2]:
import pandas as pd
import numpy as np
import pickle

Ejercicio 1 Cargar todos los datasets que os hemos compartido en este pair programming

In [3]:
df_agentes=pd.read_csv("pandaIII/Agentes.csv")
df_agentes.head()

,ID Agente,Nombre,email,Fecha de Nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

In [4]:
df_empleados=pd.read_csv("pandaIII/Empleados.csv")
df_empleados.head()

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

In [5]:
df_2016=pd.read_excel("pandaIII/2016.xlsx")
df_2016.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

ejercicio 2 Haced una exploración básica cada uno de los DataFrames, esta exploración debe incluir:

-¿Cuántas filas y columnas tiene el DataFrame?

In [6]:
print(df_empleados.shape)
print(df_agentes.shape)
print(df_2016.shape)

(2000, 6)
(50, 4)
(13051, 12)

-Mostrad las primeras cinco filas y las últimas cinco filas del DataFrame.

In [7]:
print(df_agentes.head())
print(df_empleados.head())
print(df_2016.head())
print(df_agentes.tail())
print(df_empleados.tail())
print(df_2016.tail())

   ID Agente               Nombre                              email  \
0          1          Mata Lucero          lucero.mata@tractchun.com
1          2         JesusGrajeda        jesus.grajeda@tractchun.com
2          3          Elena Velez          elena.velez@tractchun.com
3          4      Barraza Alberto      alberto.barraza@tractchun.com
4          5  Willyberto Gonzales  willyberto.gonzales@tractchun.com

  Fecha de Nacimiento
0           1989/4/28
1            1979/1/1
2            1993/6/6
3          1978/10/20
4           1973/5/11
  Turno  ID Empleado Apellido     Nombre ID Puesto  \
0     A            6    VILLA      JESUS  50-32200
1   NaN           10   MENDEZ    RICARDO  15-24100
2   NaN           21  HEREDIA  GUADALUPE  90-14000
3   NaN           27    DURAN    DESSENS  15-24100
4   NaN           29   LAGUNA   FEDERICO  80-24100

                             Email
0        jesus.villa@tractchun.com
1     ricardo.mendez@tractchun.com
2  guadalupe.heredia@tractchun.com
3      dessens.duran@tractchun.com
4    federico.laguna@tractchun.com
           ID Ticket      Fecha  ID Empleado  ID Agente      Categoría  \
0  GDDENR-5042564453 2016-07-13       1735.0        4.0  Acceso&%Login
1  GDDENR-8042508060 2016-05-18       1566.0       10.0  Acceso&%Login
2  GDDESR-1342539995 2016-06-18        569.0       29.0        Sistema
3  GDDTSR-5942488006 2016-04-28        320.0       40.0        Sistema
4  GDLEER-0042524120 2016-06-03       1842.0       31.0       Software

        Tipo           Severidad        Prioridad  Días Resolución  \
0   Problema  0 - Sin Clasificar  0 - Sin Asignar              0.0
1   Problema  0 - Sin Clasificar  0 - Sin Asignar              0.0
2   Problema  0 - Sin Clasificar  0 - Sin Asignar              3.0
3  Solicitud  0 - Sin Clasificar  0 - Sin Asignar              9.0
4   Problema          2 - Normal  0 - Sin Asignar              0.0

   Satisfacción               Web  Índice
0           5.0  www.tractchun.es      1.0
1           5.0  www.tractchun.es      1.0
2           5.0  www.tractchun.es      1.0
3           5.0  www.tractchun.es      1.0
4           5.0  www.tractchun.es      1.0
    ID Agente           Nombre                          email  \
45         46      Rosa Olguin      rosa.olguin@tractchun.com
46         47  Yomaira Agudelo  yomaira.agudelo@tractchun.com
47         48   Aurelio Tanori   aurelio.tanori@tractchun.com
48         49   Armando Sierra   armando.sierra@tractchun.com
49         50     Ramon Macias     ramon.macias@tractchun.com

   Fecha de Nacimiento
45           1985/5/30
46          1974/12/15
47           1979/8/29
48            1991/4/5
49            1980/3/4
     Turno  ID Empleado  Apellido     Nombre ID Puesto  \
1995   NaN         1903     RAMOS       JOSE  55-23200
1996   NaN         1904      RUIZ  GUADALUPE  80-22220
1997   NaN         1935    ZEPEDA  FRANCISCO  15-24100
1998   NaN         1953    ROBLES  ELIZABETH  15-24100
1999   NaN         1993  ENRIQUEZ  HERCULANO  45-11000

                                 Email
1995          jose.ramos@tractchun.com
1996      guadalupe.ruiz@tractchun.com
1997    francisco.zepeda@tractchun.com
1998    elizabeth.robles@tractchun.com
1999  herculano.enriquez@tractchun.com
               ID Ticket      Fecha  ID Empleado  ID Agente Categoría  \
13046  TWRTSR-6442574526 2016-07-23        962.0       25.0   Sistema
13047  TWRTSR-7142570866 2016-07-19        126.0       38.0   Sistema
13048  TWRTSR-7742498308 2016-05-08        510.0        3.0   Sistema
13049  TWRTSR-8642558628 2016-07-07       1942.0       26.0   Sistema
13050  TWRTSR-8742628897 2016-09-15        919.0        8.0   Sistema

            Tipo  Severidad Prioridad  Días Resolución  Satisfacción  \
13046  Solicitud  1 - Menor  1 - Baja             14.0           4.0
13047  Solicitud  3 - Mayor  1 - Baja             13.0           5.0
13048  Solicitud  3 - Mayor  1 - Baja              2.0           5.0
13049  Solicitud  1 - Menor  1 - Baja             16.0           4.0
13050  Solicitud  1 - Menor  1 - Baja              7.0           4.0

                    Web  Índice
13046  www.tractchun.es      1.0
13047  www.tractchun.es      1.0
13048  www.tractchun.es      1.0
13049  www.tractchun.es      1.0
13050  www.tractchun.es      1.0

-Mostrad 2 filas al azar del DataFrame.

In [8]:
print(df_agentes.sample(2))
print(".........")
print(df_empleados.sample(2))
print(".........")
print(df_2016.sample(2))

    ID Agente            Nombre                           email  \
12         13  Griselda Galindo  griselda.galindo@tractchun.com
1           2      JesusGrajeda     jesus.grajeda@tractchun.com

   Fecha de Nacimiento
12            1996/2/3
1             1979/1/1
.........
     Turno  ID Empleado  Apellido  Nombre ID Puesto  \
1629   NaN          544  FIGUEROA   ANGEL  10-23200
1799   NaN          646    PORRAS  OLIVIA  80-24100

                             Email
1629  angel.figueroa@tractchun.com
1799   olivia.porras@tractchun.com
.........
               ID Ticket      Fecha  ID Empleado  ID Agente Categoría  \
12090  THLTST-1642644772 2016-10-01       1077.0       37.0   Sistema
8976   SHLTET-5242407058 2016-02-07        855.0       50.0  Software

            Tipo   Severidad Prioridad  Días Resolución  Satisfacción  \
12090  Solicitud  2 - Normal  3 - Alta              6.0           4.0
8976   Solicitud  2 - Normal  3 - Alta              5.0           4.0

                    Web  Índice
12090  www.tractchun.es      1.0
8976   www.tractchun.es      1.0

-¿Cuál es el nombre de las columnas del DataFrame?

In [9]:
df_empleados.columns

Index(['Turno', 'ID Empleado', 'Apellido', 'Nombre', 'ID Puesto', 'Email'], dtype='object')

In [10]:
df_agentes.columns

Index(['ID Agente', 'Nombre', 'email', 'Fecha de Nacimiento'], dtype='object')

In [11]:
df_2016.columns

Index(['ID Ticket', 'Fecha', 'ID Empleado', 'ID Agente', 'Categoría', 'Tipo',
       'Severidad', 'Prioridad', 'Días Resolución', 'Satisfacción', 'Web',
       'Índice '],
      dtype='object')

-¿Cuáles son los principales estádisticos del DataFrame? Mostrad por separado las variables categóricas y las variables numéricas.

In [12]:
df_empleados.describe()

       ID Empleado
count  2000.000000
mean   1000.500000
std     577.494589
min       1.000000
25%     500.750000
50%    1000.500000
75%    1500.250000
max    2000.000000

In [13]:
df_agentes.describe()

       ID Agente
count   50.00000
mean    25.50000
std     14.57738
min      1.00000
25%     13.25000
50%     25.50000
75%     37.75000
max     50.00000

In [14]:
df_2016.describe()

        ID Empleado     ID Agente  Días Resolución  Satisfacción  Índice
count  13049.000000  13050.000000     13049.000000  13037.000000  13038.0
mean     999.737988     25.425134         4.551843      3.979673      1.0
std      580.422512     14.363362         4.352681      1.326657      0.0
min        1.000000      1.000000         0.000000      1.000000      1.0
25%      499.000000     13.000000         0.000000      4.000000      1.0
50%      995.000000     26.000000         4.000000      4.000000      1.0
75%     1505.000000     38.000000         7.000000      5.000000      1.0
max     2000.000000     50.000000        21.000000      5.000000      1.0

-¿Cuál es el porcentaje de valores nulos en cada columna?

In [15]:
df_agentes.isnull().sum()

ID Agente              0
Nombre                 0
email                  0
Fecha de Nacimiento    0
dtype: int64

In [16]:
df_empleados.isnull().sum()

Turno          1992
ID Empleado       0
Apellido          0
Nombre            0
ID Puesto         0
Email             0
dtype: int64

In [17]:
df_2016.isnull().value_counts()

ID Ticket  Fecha  ID Empleado  ID Agente  Categoría  Tipo   Severidad  Prioridad  Días Resolución  Satisfacción  Web    Índice
False      False  False        False      False      False  False      False      False            False         False  False      12901
                                                                                                                 True   False         27
                                                            True       False      False            False         False  False         26
           True   False        False      False      False  False      False      False            False         False  False         26
           False  False        False      False      False  False      True       False            False         False  False         25
                                                                       False      False            True          False  False         14
                                          True       False  False      False      False            False         False  False         12
                                          False      False  False      False      False            False         False  True          11
                                                                                  True             False         False  False          2
                  True         False      False      False  False      False      False            False         False  False          2
                  False        False      False      False  False      True       False            False         False  True           1
                                                     True   False      False      False            False         False  False          1
                                          True       False  False      False      False            False         False  True           1
                               True       False      False  False      False      False            False         False  False          1
True       False  False        False      False      False  False      False      False            False         False  False          1
dtype: int64

In [18]:
df_2016_nul=df_2016.isnull()
df_2016_nul.size

156612

-¿Cuántos valores únicos tenemos para cada una de las columnas?

In [19]:
nom_cols={col : col.replace(" ","_")for col in df_agentes.columns}
df_agentes.rename(columns =nom_cols, inplace = True)

In [23]:
for col in df_agentes.columns:
    print(df_agentes[col].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50]
['Mata Lucero' 'JesusGrajeda' 'Elena Velez' 'Barraza Alberto'
 'Willyberto Gonzales' 'A. Trejo' 'Estuardo Ocaño' 'Marisol Piedrahita'
 'Velasquez Jose' 'Alberto Casillas' 'Lopez Moran.' 'Javier D.'
 'Griselda Galindo' 'EstuardoTorres' 'Galindo Guadalupe' 'Orci Carlos'
 'Leon Lourdes' 'Miller Gaviria' 'Alfonso Barraza' 'Eduardo Luna'
 'Alberto Gastelum' 'Lorena' 'Guadalupe Hernandez' 'Barbara Grijalva'
 'Sandra Lujan ' 'Flores Sierra' 'Isela Leyva' 'Nurio Zepeda'
 'Segura Garcia' 'Parra Luna' 'Guadalupe Torrico' 'Silvia Morales'
 'Guadalupe Villanueva' 'Diana Rojo' 'Melinda' 'Luis Torres'
 'Jesus Pacheco' 'Enrique Montiel' 'Jesus Contreras' 'Alfredo Barreras'
 'Aldo Carrillo' 'Darwin E.' 'Reyna Santacruz' 'Eva Cardenas'
 'Luis Arguello' 'Rosa Olguin' 'Yomaira Agudelo' 'Aurelio Tanori'
 'Armando Sierra' 'Ramon Macias']
['lucero.mata@tractchun.com' 'jesus.grajeda@tractchun.com'
 'elena.velez@tractchun.com' 'alberto.barraza@tractchun.com'
 'willyberto.gonzales@tractchun.com' 'alberto.trejo@tractchun.com'
 'estuardo.ocaño@tractchun.com' 'marisol.piedrahita@tractchun.com'
 'jose.velasquez@tractchun.com' 'alberto.casillas@tractchun.com'
 'lopez.moran@tractchun.com' 'javier.davila@tractchun.com'
 'griselda.galindo@tractchun.com' 'estuardo.torres@tractchun.com'
 'guadalupe.galindo@tractchun.com' 'carlos.orci@tractchun.com'
 'lourdes.leon@tractchun.com' 'miller.gaviria@tractchun.com'
 'alfonso.barraza@tractchun.com' 'eduardo.luna@tractchun.com'
 'alberto.gastelum@tractchun.com' 'lorena.leon@tractchun.com'
 'guadalupe.hernandez@tractchun.com' 'barbara.grijalva@tractchun.com'
 'sandra.lujan@tractchun.com' 'flores.sierra@tractchun.com'
 'isela.leyva@tractchun.com' 'nurio.zepeda@tractchun.com'
 'segura.garcia@tractchun.com' 'parra.luna@tractchun.com'
 'guadalupe.torrico@tractchun.com' 'silvia.morales@tractchun.com'
 'guadalupe.villanueva@tractchun.com' 'diana.rojo@tractchun.com'
 'melinda.barcelo@tractchun.com' 'luis.torres@tractchun.com'
 'jesus.pacheco@tractchun.com' 'enrique.montiel@tractchun.com'
 'jesus.contreras@tractchun.com' 'alfredo.barreras@tractchun.com'
 'aldo.carrillo@tractchun.com' 'darwin.echeverry@tractchun.com'
 'reyna.santacruz@tractchun.com' 'eva.cardenas@tractchun.com'
 'luis.arguello@tractchun.com' 'rosa.olguin@tractchun.com'
 'yomaira.agudelo@tractchun.com' 'aurelio.tanori@tractchun.com'
 'armando.sierra@tractchun.com' 'ramon.macias@tractchun.com']
['1989/4/28' '1979/1/1' '1993/6/6' '1978/10/20' '1973/5/11' '1988/3/9'
 '1980/9/23' '1993/10/28' '1981/1/9' '1993/2/1' '1980/4/21' '1976/5/22'
 '1996/2/3' '1995/12/21' '1995/6/16' '1982/10/26' '1971/12/28' '1980/10/9'
 '1990/5/13' '1983/11/22' '1996/10/10' '1996/7/16' '1986/6/12' '1972/6/5'
 '1988/11/17' '1982/3/15' '1987/4/18' '1982/4/4' '1972/11/14' '1995/6/17'
 '1993/3/18' '1980/6/16' '1975/1/15' '1996/3/9' '1996/5/30' '1982/7/18'
 '1980/6/15' '1985/2/27' '1983/10/20' '1974/10/19' '1982/8/1' '1991/7/16'
 '1984/6/7' '1987/10/4' '1982/9/22' '1985/5/30' '1974/12/15' '1979/8/29'
 '1991/4/5' '1980/3/4']

-De aquellas columnas que tengan menos de 6 elementos únicos mostrad cada uno de sus valores únicos.

In [24]:
for col in df_agentes.columns:
    print(df_agentes[col].value_counts())

1     1
38    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
39    1
2     1
40    1
41    1
42    1
43    1
44    1
45    1
46    1
47    1
48    1
49    1
27    1
26    1
25    1
24    1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
50    1
Name: ID_Agente, dtype: int64
Mata Lucero             1
Enrique Montiel         1
Nurio Zepeda            1
Segura Garcia           1
Parra Luna              1
Guadalupe Torrico       1
Silvia Morales          1
Guadalupe Villanueva    1
Diana Rojo              1
Melinda                 1
Luis Torres             1
Jesus Pacheco           1
Jesus Contreras         1
JesusGrajeda            1
Alfredo Barreras        1
Aldo Carrillo           1
Darwin E.               1
Reyna Santacruz         1
Eva Cardenas            1
Luis Arguello           1
Rosa Olguin             1
Yomaira Agudelo         1
Aurelio Tanori          1
Armando Sierra          1
Isela Leyva             1
Flores Sierra           1
Sandra Lujan            1
Barbara Grijalva        1
Elena Velez             1
Barraza Alberto         1
Willyberto Gonzales     1
A. Trejo                1
Estuardo Ocaño          1
Marisol Piedrahita      1
Velasquez Jose          1
Alberto Casillas        1
Lopez Moran.            1
Javier D.               1
Griselda Galindo        1
EstuardoTorres          1
Galindo Guadalupe       1
Orci Carlos             1
Leon Lourdes            1
Miller Gaviria          1
Alfonso Barraza         1
Eduardo Luna            1
Alberto Gastelum        1
Lorena                  1
Guadalupe Hernandez     1
Ramon Macias            1
Name: Nombre, dtype: int64
lucero.mata@tractchun.com             1
enrique.montiel@tractchun.com         1
nurio.zepeda@tractchun.com            1
segura.garcia@tractchun.com           1
parra.luna@tractchun.com              1
guadalupe.torrico@tractchun.com       1
silvia.morales@tractchun.com          1
guadalupe.villanueva@tractchun.com    1
diana.rojo@tractchun.com              1
melinda.barcelo@tractchun.com         1
luis.torres@tractchun.com             1
jesus.pacheco@tractchun.com           1
jesus.contreras@tractchun.com         1
jesus.grajeda@tractchun.com           1
alfredo.barreras@tractchun.com        1
aldo.carrillo@tractchun.com           1
darwin.echeverry@tractchun.com        1
reyna.santacruz@tractchun.com         1
eva.cardenas@tractchun.com            1
luis.arguello@tractchun.com           1
rosa.olguin@tractchun.com             1
yomaira.agudelo@tractchun.com         1
aurelio.tanori@tractchun.com          1
armando.sierra@tractchun.com          1
isela.leyva@tractchun.com             1
flores.sierra@tractchun.com           1
sandra.lujan@tractchun.com            1
barbara.grijalva@tractchun.com        1
elena.velez@tractchun.com             1
alberto.barraza@tractchun.com         1
willyberto.gonzales@tractchun.com     1
alberto.trejo@tractchun.com           1
estuardo.ocaño@tractchun.com          1
marisol.piedrahita@tractchun.com      1
jose.velasquez@tractchun.com          1
alberto.casillas@tractchun.com        1
lopez.moran@tractchun.com             1
javier.davila@tractchun.com           1
griselda.galindo@tractchun.com        1
estuardo.torres@tractchun.com         1
guadalupe.galindo@tractchun.com       1
carlos.orci@tractchun.com             1
lourdes.leon@tractchun.com            1
miller.gaviria@tractchun.com          1
alfonso.barraza@tractchun.com         1
eduardo.luna@tractchun.com            1
alberto.gastelum@tractchun.com        1
lorena.leon@tractchun.com             1
guadalupe.hernandez@tractchun.com     1
ramon.macias@tractchun.com            1
Name: email, dtype: int64
1989/4/28     1
1985/2/27     1
1982/4/4      1
1972/11/14    1
1995/6/17     1
1993/3/18     1
1980/6/16     1
1975/1/15     1
1996/3/9      1
1996/5/30     1
1982/7/18     1
1980/6/15     1
1983/10/20    1
1979/1/1      1
1974/10/19    1
1982/8/1      1
1991/7/16     1
1984/6/7      1
1987/10/4     1
1982/9/22     1
1985/5/30     1
1974/12/15    1
1979/8/29     1
1991/4/5      1
1987/4/18     1
1982/3/15     1
1988/11/17    1
1972/6/5      1
1993/6/6      1
1978/10/20    1
1973/5/11     1
1988/3/9      1
1980/9/23     1
1993/10/28    1
1981/1/9      1
1993/2/1      1
1980/4/21     1
1976/5/22     1
1996/2/3      1
1995/12/21    1
1995/6/16     1
1982/10/26    1
1971/12/28    1
1980/10/9     1
1990/5/13     1
1983/11/22    1
1996/10/10    1
1996/7/16     1
1986/6/12     1
1980/3/4      1
Name: Fecha_de_Nacimiento, dtype: int64

In [25]:
for col in df_2016.columns:
    print(df_2016[col].value_counts())

GDDENR-5042564453    1
SHLENR-7042481294    1
SHLENR-5042538526    1
SHLENR-5042651427    1
SHLENR-5142642780    1
                    ..
KDLTNR-2042409051    1
KDLTNR-2042438063    1
KDLTNR-2042468443    1
KDLTNR-2042487449    1
TWRTSR-8742628897    1
Name: ID Ticket, Length: 13050, dtype: int64
2016-02-20    53
2016-11-05    52
2016-09-26    52
2016-05-07    50
2016-05-15    49
              ..
2016-07-09    23
2016-03-04    22
2016-04-14    21
2016-07-08    18
2016-11-17    17
Name: Fecha, Length: 366, dtype: int64
97.0      18
1961.0    17
109.0     15
437.0     15
1794.0    14
          ..
736.0      1
933.0      1
1686.0     1
1562.0     1
1367.0     1
Name: ID Empleado, Length: 1999, dtype: int64
41.0    302
26.0    292
19.0    289
32.0    289
24.0    279
3.0     277
15.0    276
34.0    275
27.0    275
35.0    273
12.0    273
8.0     273
28.0    272
48.0    272
25.0    272
4.0     272
43.0    271
14.0    270
42.0    269
46.0    268
5.0     268
7.0     268
6.0     267
39.0    266
38.0    266
50.0    265
31.0    262
33.0    261
30.0    261
1.0     261
22.0    259
29.0    259
10.0    258
16.0    256
18.0    255
2.0     253
40.0    253
11.0    251
20.0    247
37.0    244
36.0    241
21.0    241
23.0    239
44.0    239
17.0    237
45.0    236
47.0    227
9.0     227
13.0    224
49.0    220
Name: ID Agente, dtype: int64
Sistema          5247
Acceso&%Login    3907
Software         2613
Hardware         1271
Name: Categoría, dtype: int64
Solicitud    9756
Problema     3294
Name: Tipo, dtype: int64
2 - Normal            11771
3 - Mayor               683
1 - Menor               342
4 - Crítico             189
0 - Sin Clasificar       40
Name: Severidad, dtype: int64
3 - Alta           4828
0 - Sin Asignar    3866
1 - Baja           2192
2 - Media          2139
Name: Prioridad, dtype: int64
0.0     3336
1.0     1229
5.0     1184
6.0     1068
2.0      889
7.0      871
3.0      830
4.0      662
8.0      637
10.0     522
9.0      491
11.0     242
13.0     217
12.0     217
14.0     213
15.0     183
16.0     154
17.0      76
19.0      15
18.0      12
21.0       1
Name: Días Resolución, dtype: int64
5.0    6247
4.0    3767
1.0    1606
3.0    1140
2.0     277
Name: Satisfacción, dtype: int64
www.tractchun.es    13024
Name: Web, dtype: int64
1.0    13038
Name: Índice , dtype: int64

In [26]:
for col in df_empleados.columns:
    print(df_empleados[col].value_counts())

A    2
B    2
C    2
D    2
Name: Turno, dtype: int64
6       1
449     1
518     1
517     1
516     1
       ..
1364    1
1360    1
1351    1
1349    1
1993    1
Name: ID Empleado, Length: 2000, dtype: int64
LOPEZ         36
GARCIA        31
MORENO        22
RUIZ          20
VALENZUELA    20
              ..
Madrigal       1
SALLARD        1
CORRALES       1
ESQUER         1
Cardenas       1
Name: Apellido, Length: 376, dtype: int64
MARIA         46
ALBERTO       40
FRANCISCO     38
GUADALUPE     34
JESUS         33
              ..
BARCELO        1
SARAI          1
MORENO         1
MONTIJO        1
VILLALOBOS     1
Name: Nombre, Length: 565, dtype: int64
15-24100    407
55-23200    210
45-11000    186
90-14100    162
80-22220     96
           ...
55-23500      1
20-31200      1
80-23810      1
25-25130      1
45-15000      1
Name: ID Puesto, Length: 75, dtype: int64
jesus.villa@tractchun.com           1
luz.monge@tractchun.com             1
lina.pérez@tractchun.com            1
eugenia.rios@tractchun.com          1
alirio.fernandez@tractchun.com      1
                                   ..
felipe.prisco@tractchun.com         1
alberto.torres@tractchun.com        1
francisco.flores@tractchun.com      1
jesus.medina@tractchun.com          1
herculano.enriquez@tractchun.com    1
Name: Email, Length: 2000, dtype: int64

Ejercicio 3 Modificaciones básicas de los conjuntos de datos:

-Cambiad el nombre de las columnas para que todas estén en minúsculas y reemplazad los espacios por _.

In [29]:
nom_cols={col : col.replace(" ","_").lower()for col in df_agentes.columns}
df_agentes.rename(columns =nom_cols, inplace = True)

In [33]:
df_agentes.head(2)

   id_agente        nombre                        email fecha_de_nacimiento
0          1   Mata Lucero    lucero.mata@tractchun.com           1989/4/28
1          2  JesusGrajeda  jesus.grajeda@tractchun.com            1979/1/1

In [31]:
nom_cols={col : col.replace(" ","_").lower()for col in df_empleados.columns}
df_empleados.rename(columns =nom_cols, inplace = True)

In [34]:
df_empleados.head(2)

  turno  id_empleado apellido   nombre id_puesto                         email
0     A            6    VILLA    JESUS  50-32200     jesus.villa@tractchun.com
1   NaN           10   MENDEZ  RICARDO  15-24100  ricardo.mendez@tractchun.com

In [35]:
nom_cols={col : col.replace(" ","_").lower()for col in df_2016.columns}
df_2016.rename(columns =nom_cols, inplace = True)

In [36]:
df_2016.head(2)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,web,índice_
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

-Para las columnas de web e índice en el archovo de 2016.xlsx ya hemos visto que tiene un único valor único, lo cual no tiene mucho sentido ya que no nos aporta información útil. En este ejercicios tendréis que eliminar dichas columnas del dataframe.

In [38]:
df_2016.drop(["web","índice_"],axis=1)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...
13046,TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0
13047,TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0
13048,TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0
13049,TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0
13050,TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0

-Establece la columna id_ticket de la tabla de 2016.xlsx como índice del DataFrame.

In [39]:
df_2016.set_index(["id_ticket"],inplace=True)

In [40]:
df_2016.head(2)

,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,web,índice_
id_ticket,,,,,,,,,,,
GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

Ejercicio 4 Guarda los csv's sobre los que hayáis hecho cambios para usarlos en próximos pairs .

In [41]:
df_2016.to_csv("df_2016.csv")

In [42]:
df_empleados.to_csv("df_empleados.csv")

In [43]:
df_agentes.to_csv("df_agentes.csv")