Ejercicio 1º Antes de empezar, deberéis crear una columna nueva en los dataframes de 2016.xlsx, 2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx que contenga los valores del año al que corresponden.
Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:
Cargad los siete ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir entre vosotras como podríamos juntar toda la información.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_2016 = pd.read_excel("../datos/2016.xlsx")
df_2016.sample(3)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
9693,SMLTER-0442652548,2016-10-09,1374.0,35.0,Hardware,Solicitud,2 - Normal,2 - Media,8.0,4.0,www.tractchun.es,1.0
2948,GMLTSR-2742654358,2016-10-11,1095.0,23.0,Sistema,Solicitud,2 - Normal,2 - Media,10.0,5.0,www.tractchun.es,1.0
9928,SMLTSR-1742686246,2016-11-12,1394.0,12.0,Sistema,Solicitud,2 - Normal,2 - Media,7.0,4.0,www.tractchun.es,1.0

In [4]:
df_2017 = pd.read_excel("../datos/2017.xlsx")
df_2017.sample(3)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
3259,GMLTNR-0142890883,2017-06-04,338.0,28.0,Acceso%&Login,Solicitud,2 - Normal,2 - Media,1.0,5.0
8847,SDLEER-1042910647,2017-06-24,1854.0,46.0,Software,Problema,2 - Normal,0 - Sin Asignar,10.0,4.0
5530,KDLTSR-9643036668,2017-10-28,1716.0,46.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,16.0,3.0

In [5]:
df_2018 = pd.read_excel("../datos/2018.xlsx")
df_2018.sample(3)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
647,GDLTER-9343412807,2018-11-08,450.0,18.0,Software,Solicitud,2 - Normal,0 - Sin Asignar,3.0,5.0
2112,GHLESR-8743347965,2018-09-04,1856.0,49.0,Sistema,Problema,4 - Crítico,3 - Alta,1.0,5.0
14586,SWLESR-2943310933,2018-07-29,463.0,9.0,Sistema,Problema,2 - Normal,1 - Baja,13.0,1.0

In [6]:
df_2019= pd.read_excel("../datos/2019.xlsx")
df_2019.sample(3)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
13357,SDLTSR-2643502411,2019-02-06,1521.0,14.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,16.0,5.0
3035,GHLTNR-2043534582,2019-03-10,1158.0,45.0,Acceso99Login,Solicitud,2 - Normal,3 - Alta,0.0,1.0
15989,SMLTSR-2843472388,2019-01-07,988.0,3.0,Sistema,Solicitud,2 - Normal,2 - Media,7.0,5.0

In [7]:
df_2020= pd.read_excel("../datos/2020.xlsx")
df_2020.sample(3)

,ID Ticket,Fecha,Tipo,Categoría,ID Empleado,ID Agente,Severidad,Prioridad,Días Resolución,Satisfacción
19612,SHLTET-8444188646,2020-12-23,Solicitud,Hardware,1354.0,46.0,2 - Normal,3 - Alta,7.0,5.0
4851,GHLTSR-1544131593,2020-10-27,Solicitud,Sistema,1109.0,45.0,2 - Normal,3 - Alta,5.0,5.0
7818,GWLTER-4344136077,2020-11-01,Solicitud,Hardware,897.0,30.0,2 - Normal,1 - Baja,4.0,5.0

Ejercicio2º Chequead que los nombres de las columnas y ver si se llaman iguales entre dataframes. ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sea así homogeneizar los nombres de las columnas para que todos los dataframes tengan el mismo formato

In [8]:
df_concat =pd.concat([df_2016, df_2017, df_2018, df_2019, df_2020], axis=0)
df_concat.sample(5)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
19136,THLTNR-2043747383,2019-10-09,1728.0,43.0,Acceso99Login,Solicitud,2 - Normal,3 - Alta,1.0,1.0,NaN,NaN
8545,GWLTSR-5644027543,2020-07-15,1104.0,35.0,Sistema,Solicitud,2 - Normal,1 - Baja,16.0,5.0,NaN,NaN
4482,GHLTNR-9043956574,2020-05-05,1547.0,15.0,Acceso/Login,Solicitud,2 - Normal,3 - Alta,0.0,5.0,NaN,NaN
13273,SHLTSR-2743141429,2018-02-10,532.0,44.0,Sistema,Solicitud,2 - Normal,3 - Alta,7.0,5.0,NaN,NaN
20711,TMRTST-9643719679,2019-09-11,737.0,26.0,Sistema,Solicitud,1 - Menor,2 - Media,6.0,5.0,NaN,NaN

In [9]:
print(df_2016.shape)
print(df_2017.shape)
print(df_2018.shape)
print(df_2019.shape)
print(df_2020.shape)
print(df_concat.shape)

(13051, 12)
(14915, 10)
(18954, 10)
(21490, 10)
(29088, 10)
(97498, 12)

Ejercicio3º En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos históricos (2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx). Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, tendréis que ver si esas columnas están en los dataframes nuevos, si es así eliminarlas. Por lo tanto, realizad los cambios que creáis necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [10]:
df_ticket= pd.read_csv("../datos/df_tikets.csv", index_col=0)
df_ticket.sample(3)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,web,índice_,semestre
8911,SHLTER-8542482383,2016-04-22,1748.0,3.0,Software,Solicitud,2 - Normal,3 - Alta,7.0,4.0,www.tractchun.es,1.0,1º semestre
4590,KDLTSR-0542705974,2016-12-01,1897.0,49.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,16.0,5.0,www.tractchun.es,1.0,2º semestre
10190,SWLESR-8342483219,2016-04-23,1011.0,42.0,Sistema,Problema,2 - Normal,1 - Baja,3.0,5.0,www.tractchun.es,1.0,1º semestre

In [11]:
df_ticket.drop(["semestre"], axis = 1, inplace=True)

In [12]:
df_ticket.sample(5)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,web,índice_
1258,GHLENT-8042619482,2016-09-06,1218.0,4.0,Acceso&%Login,Problema,2 - Normal,3 - Alta,0.0,5.0,www.tractchun.es,1.0
7010,KMLTSR-4742675923,2016-11-01,142.0,29.0,Sistema,Solicitud,2 - Normal,2 - Media,7.0,3.0,www.tractchun.es,1.0
11242,TDREER-1042637323,2016-09-24,382.0,43.0,Software,Problema,3 - Mayor,0 - Sin Asignar,0.0,4.0,www.tractchun.es,1.0
6575,KMLENR-3042639668,2016-09-26,26.0,36.0,Acceso&%Login,Problema,2 - Normal,2 - Media,0.0,3.0,www.tractchun.es,1.0
5699,KHLTNR-1042703291,2016-11-29,1969.0,2.0,Acceso&%Login,Solicitud,2 - Normal,3 - Alta,0.0,3.0,www.tractchun.es,1.0

In [13]:
nom_cols={col : col.replace(" ","_").lower()for col in df_concat.columns}
df_concat.rename(columns =nom_cols, inplace = True)

In [14]:
df_concat.sample(5)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,web,índice_
17807,TMLESR-7743387775,2018-10-14,1657.0,7.0,Sistema,Problema,2 - Normal,2 - Media,7.0,5.0,NaN,NaN
2123,GDLTSR-6943919822,2020-03-29,1292.0,48.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,11.0,5.0,NaN,NaN
14583,SWLESR-2743464307,2018-12-30,1820.0,43.0,Sistema,Problema,2 - Normal,1 - Baja,7.0,5.0,NaN,NaN
6167,KDLTER-5243186838,2018-03-27,1913.0,8.0,Software,Solicitud,2 - Normal,0 - Sin Asignar,2.0,1.0,NaN,NaN
9809,KHLTSR-3643625830,2019-06-09,1213.0,8.0,Sistema,Solicitud,2 - Normal,3 - Alta,6.0,4.0,NaN,NaN

In [15]:
df_concat2 = pd.concat([df_concat, df_ticket], axis =0)
df_concat2.sample(5)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,web,índice_
8924,SDLENR-3042815279,2017-03-21 00:00:00,1807.0,22.0,Acceso%&Login,Problema,2 - Normal,0 - Sin Asignar,0.0,4.0,NaN,NaN
5058,GHLTSR-5544078392,2020-09-04 00:00:00,569.0,33.0,Sistema,Solicitud,2 - Normal,3 - Alta,5.0,5.0,NaN,NaN
1294,GHLESR-3142578531,2016-07-27,1443.0,45.0,Sistema,Problema,2 - Normal,3 - Alta,1.0,5.0,www.tractchun.es,1.0
28662,TWLTNR-6144018891,2020-07-06 00:00:00,899.0,18.0,Acceso/Login,Solicitud,2 - Normal,1 - Baja,1.0,4.0,NaN,NaN
2190,GHLTSR-7542454043,2016-03-25 00:00:00,1654.0,40.0,Sistema,Solicitud,2 - Normal,3 - Alta,5.0,5.0,www.tractchun.es,1.0

Ejercicio 4º Es el momento de unir la información de todos los puestos y los empleados. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.

In [16]:
df_empleados= pd.read_csv("../datos/Empleados.csv")
df_empleados.sample(3)

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
58,NaN,328,CARDENAS,RAMIREZ,30-13100,ramirez.cardenas@tractchun.com
840,NaN,402,Gonzalez,Alberto,55-23200,alberto.gonzalez@tractchun.com
1759,NaN,1709,REYNOSO,JESUS,15-24100,jesus.reynoso@tractchun.com

In [17]:
df_puestos= pd.read_excel("../datos/Puestos.xlsx")
df_puestos.sample(3)

   ID Puesto                    Puesto           Departamento    Tipo Puesto
94  90-23200  Ingeniero de Manufactura  INGENIERIA DE CALIDAD      Operativo
95  90-24100  Supervisor de Producción  INGENIERIA DE CALIDAD  Mandos Medios
28  25-32200     Gerente de Planeación             MATERIALES       Gerencia

In [18]:
df_pd = df_empleados.merge(df_puestos, how= "outer",on ="ID Puesto")
df_pd.sample(5)

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Puesto,Departamento,Tipo Puesto
1868,NaN,1725.0,CASTILLO,MARIA,30-13300,maria.castillo@tractchun.com,Ingeniero de Calibracion y Metrologia,"AUDITORIA INTERNA, CALIBRACION Y METROLOGIA",Operativo
1553,NaN,1706.0,CASTRO,ELDA,90-14100,elda.castro@tractchun.com,Ingeniero de Calidad,INGENIERIA DE CALIDAD,Operativo
1067,NaN,319.0,MARTINEZ,JUAN,45-11000,juan.martinez@tractchun.com,Supervisor de Aseguramiento de Calidad,INGENIERIA DE CALIDAD,Mandos Medios
1893,NaN,1878.0,Zea,Jairo,15-22210,jairo.zea@tractchun.com,Supervisor de Mantenimiento,PRODUCCION,Mandos Medios
296,NaN,866.0,Arenas,Patricia,15-24100,patricia.arenas@tractchun.com,Supervisor de Producción,PRODUCCION,Mandos Medios

In [19]:
df_pd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2022 entries, 0 to 2021
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Turno         8 non-null      object
 1   ID Empleado   2000 non-null   float64
 2   Apellido      2000 non-null   object
 3   Nombre        2000 non-null   object
 4   ID Puesto     2022 non-null   object
 5   Email         2000 non-null   object
 6   Puesto        2022 non-null   object
 7   Departamento  2022 non-null   object
 8   Tipo Puesto   2022 non-null   object
dtypes: float64(1), object(8)
memory usage: 158.0+ KB

Ejercicio º5 Guardad los dataframes en dos csv diferentes que usaremos mañana en la clase de pair programming
📌 NOTA Al final de este pair programing deberéis tener tres ficheros:
El fichero de la unión de todos los conjuntos de datos de los distintos años
El fichero con la unión de los datos de puestos y empleados.
El fichero de los agentes

In [20]:
df_pd.to_csv("../datos/pd_csv")

In [21]:
df_concat2.to_csv("../datos/concat2_csv")

In [22]:
df_concat.to_csv("../datos/concat1_csv")